.grid-container {
  display: grid;
  gap: 30px;
  padding: 0px;
  /*Column count*/
}
.grid-container.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-container.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-container .grid-item {
  border-radius: 5px;
  overflow: hidden;
}
.grid-container .grid-item__title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.grid-container .grid-item__description p {
  margin: 0;
}
.grid-container .grid-item .grid-item__image img {
  width: 100%;
  aspect-ratio: 1.5;
}
.grid-container .grid-item.style-card {
  padding: 20px;
  background: #F5F5F5;
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
/*Show accordion lists when script hasnt run in backend*/
.sh-text-list-image .accordion-items-container,
.sh-image-text-list .accordion-items-container {
  display: grid!important;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.sh-text-list-image .accordion-icon-container,
.sh-image-text-list .accordion-icon-container {
  display: none;
}
.sh-text-list-image .accordion-item__click-target,
.sh-image-text-list .accordion-item__click-target {
  padding: 0!important;
}
.sh-text-list-image .accordion-item__dropdown,
.sh-image-text-list .accordion-item__dropdown {
  display: block!important;
}
.sh-text-list-image .accordion-item__description,
.sh-image-text-list .accordion-item__description {
  padding-bottom: 0!important;
}
